@media (min-width: 576px) { 
    .contenedor-productos {   
        width: 100%;
      margin-right: auto;
        margin-left: 51px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .contenedor-productos {   
        width: 100%;
      margin-right: auto;
        margin-left: 51px;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .contenedor-productos {   
    width: 100%;
  margin-right: auto;
    margin-left: 51px;
} }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .contenedor-productos {   
        width: 100%;
      margin-right: auto;
        margin-left: -231px;
    }
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .contenedor-productos {   
        width: 100%;
      margin-right: auto;
        margin-left: 51px;
    }
 }






/* .contenedor-productos {   
    width: 100%;
  margin-right: auto;
    margin-left: 51px;
} */
.btnguardar {
    margin-left: 1rem;
    margin-top: -0.6rem;
    /* margin-top: -115px */
}

.item-p {
    color: black;
    margin-left: -6rem;
    margin-top: 1rem;
}

.item-h1 {
    color: black;
    margin-left: -6rem;
    /* margin-top: 1rem; */
    margin-bottom: 250px;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin-top: 132px;
    /* gap: 18px; */
    width: 800px;
    margin-left: 481px;
}

.imagen {
     
    width: 92%;
    height: 209px;
    padding-left: 38px;

}

.boton {
    display: inline-block;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #171717;
    background-color: #709ddf;
    border-color: #0d6efd;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 10px;
    margin-left: 55px;
}
.cardLocal{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 1rem;
    column-gap: -4px;
    box-shadow: 3px 2px 5px #0404045c;
    width: 260px;
}
.titulo{
    text-align:center;
    color: black;
    font-family: inherit;
    font-size: 2.1rem;
    
}

.descripcion{
    color: black;
    font-family: cursive;
    font-size: 1.5rem;
    margin-top: 11px;
}
.precio{
    color: black;
    font-family: cursive;
    font-size: 1rem;
    margin-top: 11px;
}